.acs-filter-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 32px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    span:last-child {
        margin-right: 0 !important;
    }
    span {
        margin-right: 64px;
        text-transform: capitalize;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
}