@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;600;700;800&display=swap');

$acs-small-title: 700 30px 'Syne', sans-serif;

$acs-big-title: 900 30px 'Syne', sans-serif;

$acs-text: 600 16px 'Syne', sans-serif;

$acs-small-text: 500 14px 'Syne', sans-serif;

$acs-title: 700 26px 'Syne', sans-serif;